<h1>New message</h1>

<p> 
* Note, if a french of pioupiou text is left blank, it will automatically be translated. If you fill both text boxes out, we assume that you correctly translated your text yourself, and will leave both texts the same on save.
</p>

<%= render "form", message: @message %>

<br>

<div>
  <%= link_to "Back to messages", messages_path %>
</div>

